/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0b0b0b;
    color:#c38c15
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    margin: 20px auto;
    border: 2px solid #c38c15;
    background-color: white;

}

.grid-square {
    box-sizing: border-box;
    border: 1px solid #dddddd66;
    outline: 1px solid transparent; /* No outline initially */
}

.grid-square:hover {
    outline: 1px solid black; /* Add outline only on hover for visual feedback */
}

/* Controls container for button and checkbox */
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px; /* Space between label and checkbox */
}

button {
    margin-left: 10px; /* Space between checkbox and reset button */
    padding: 10px 20px;
    cursor: pointer;
}

#customContextMenu {
    position: absolute;
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#customContextMenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#customContextMenu li {
    padding: 10px 20px;
    cursor: pointer;
}

#customContextMenu li:hover {
    background-color: #eee;
}
